.box {
    border-top: 1px solid black;

    h2 {
        margin-top: 30px;
    }

    .more {
        cursor: pointer;
        margin-left: auto;
        margin-bottom: 10px;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: var(--radius-30);
        padding: 5px;
        border: 1px solid black;
        background-color: transparent;
    }
    .more:hover {
        border: 1px solid white;
        background-color: black;
        color: white;
    }
    .more:active {
        scale: 0.95;
    }

    .boxCards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: var(--gap-size-30);
        width: 100%;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        .boxCards {
            grid-template-columns: repeat(4, 240px);
            justify-content: center; 
        }
    }
}

@media screen and (max-width: 600px) {
    .boxCards {
        display: block;

        > * {
            width: 100%;
            height: auto; 
            display: block;
            margin-bottom: 16px;
        }
    }
}
