.titleContainer {
  position: relative;
  width: fit-content;

  margin-bottom: 30px;

  .title {
    font-size: var(--font-size-50);
    width: fit-content;
    z-index: 100;
    font-family:
      var(--font-comfortaa),
      "Inter",
      "Noto Sans JP",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      sans-serif;
  }
  div {
    position: absolute;
    width: 100%;
    height: 15px;
    bottom: 3%;
    left: 12%;
    z-index: -100;
    box-shadow: var(--shadow);
  }
}
