.titleContainer {
  position: relative;
  width: fit-content;

  margin-bottom: 30px;

  h1 {
    font-size: var(--font-size-50);
    width: fit-content;
    z-index: 100;
  }
  div {
    position: absolute;
    width: 100%;
    height: 15px;
    bottom: 3%;
    left: 12%;
    z-index: -100;
    box-shadow: var(--shadow);
  }
}
