.linkBox {
  width: calc(100% / 4.5);
  border: 5px solid var(--color-contact);
  border-radius: 10px;
  padding: var(--gap-size-15);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  color: var(--color-contact);
  font-weight: bold;

  text-decoration: none;

  :nth-child(2) {
    flex-grow: 1;
  }

  :nth-child(3) {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
  }
}

.linkBox:hover {
  color: var(--background);
  background-color: var(--color-contact);
}

.linkBox:active {
  scale: 0.98;
}

@media screen and (max-width: 600px) {
  .linkBox {
    width: 100%;
    flex-direction: row;
    padding: 5px;

    > :nth-child(1) {
      display: none;
    }

    > :nth-child(3) {
      width: calc(100% - 60px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
