.listContainer {
    width: fit-content;
    margin-bottom: 15px;

    h2 {
        margin-left: 20px;
        margin-bottom: 15px;
        width: fit-content;
        opacity: 0.5;
        font-size: var(--font-size-30);
    }

    .skillBox {
        width: 100%;
        height: auto;
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding: var(--gap-size-15);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--gap-size-30);

        > :nth-child(n):hover {
            scale: 1.2;
        }
    }
}
