.container {
    position: relative;
    width: 100%;
    height: 85vh;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    .centerImage {
        animation: rotation 3s linear infinite;
        scale: 1.2;
    }

    .textleft {
        position: absolute;
        top: 20%;
        left: 5%;
        font-size: 3rem;
        z-index: 1;
        font-weight: 900;
    }

    .textright {
        position: absolute;
        bottom: 20%;
        right: 10%;
        font-size: 3rem;
        z-index: 1;
        font-weight: 900;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    .container {
        .textleft {
            font-size: 2rem;
        }
        .textright {
            font-size: 2rem;
        }
    }
}
