.cardBox {
    z-index: 0;
    box-shadow: var(--shadow);
    border-radius: var(--radius-10);
    width: calc(100% / 4.5);
    height: 172px;

    padding: 10px;
    align-items: end;
    justify-content: end;
    display: flex;
    background-color: var(--background-1);

    div {
        p {
            font-weight: bold;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.cardBox:hover {
    background-color: var(--background-2);
}

.cardBox:active {
    scale: 0.98;
}

@media (min-width: 600px) and (max-width: 890px) {
    .cardBox {
        width: calc(100% / 2.5);
    }
}

@media (max-width: 600px) {
    .cardBox {
        width: 100%;
    }
}
