.cardBox {
  z-index: 0;
  box-shadow: var(--shadow);
  border-radius: var(--radius-10);
  width: 100%;
  height: 172px;

  padding: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  position: relative;
  overflow: hidden;

  .image {
    flex-grow: 1;
  }

  .textContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
  }
  .circle {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    opacity: 0;
    transition:
      opacity 0.5s,
      transform 0.5s ease-in-out;
    z-index: -1;
  }

  p {
    color: black;
  }

  &:hover {
    .circle {
      opacity: 1;
      transform: translate(-50%, -50%) scale(10);
    }
  }

  &:active {
    scale: 0.98;
  }
}

@media (max-width: 600px) {
  .cardBox {
    width: 100%;
  }
}
