.awardContainer {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  font-weight: bold;

  .borderBox {
    border-left: 2px solid var(--color-award);
    padding-left: 10px;
    height: fit-content;

    > p {
      font-size: var(--font-size-30);
      color: var(--color-award);
    }

    > div {
      font-size: 13px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--gap-size-15);

      :nth-child(2) {
        opacity: 0.5;
      }
    }
  }
}

.awardContainer:hover {
  margin-right: 30px;
}
