.container {

    margin: 0 auto;
    //最後の要素の縦線に丸をつける
    > :last-child {
        > :nth-child(1) {
            &::after {
                position: absolute;
                content: "";
                width: 18px;
                height: 18px;
                border: 2px solid var(--color-aboutme);
                background-color: var(--background);
                border-radius: 50%;
                transform: translate(-50%, 50%);
                left: 50%;
                top: 90%;
            }
        }
    }
}
.messageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .message {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 1rem;
        opacity: 1;

        &:hover {
            opacity: 0.5;
        }

        &:hover + .hide {
            color: var(--color-aboutme);
            display: block;
        }
    }

    .hide {
        position: absolute;
        display: none;
        font-weight: bold;
        font-size: 1rem;
        top: 0;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
}
